<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% load static %}
		<link rel="stylesheet" href="{% static 'map/style.css' %}">
	</head>

	<body>
		<header>
			<h1>TutTutBolide</h1>
			<form action="" method="post">
				{% csrf_token %}
				{{ formTutTut }}
				<button type="Submit">Submit</button>
			</form>
			{% if tpsTrajet != -1 %}
				<div class="tpsTrajet">
					Temps estimé : {{tpsTrajet}}
				</div>
			{% endif %}
		</header>
		<div class="mapStyle">
			{{GigaMap|safe}}
		</div>
	</body>
</html>
